---
export type Props = {
  class?: string;
  classId?: string;
  name: string;
};

const { classId, name, class: className } = Astro.props;
---

<v-border-style
  class:list={[classId, className, "select relative select-bordered select-xs"]}
>
  <select class="bg-transparent appearance-none -mr-8 pr-8" name={name}>
    <option>none</option>
    <option>dotted</option>
    <option>solid</option>
    <option>inset</option>
    <option>dashed</option>
    <option>double</option>
    <option>ridge</option>
    <option>groove</option>
    <option>outset</option>
  </select>
</v-border-style>
<script>
  import("./borderStyle");
</script>
