---
import type { CssValueProps } from "./cssValue";
import NumberValue from "../numberValue/NumberValue.astro";

export type Props = CssValueProps;

const { name, placeholder, defaultValue } = Astro.props;
---

<div data-css-value={name} class="join items-[normal] inline-flex">
  <NumberValue
    name={`${name}:value`}
    defaultValue={defaultValue ?? 10}
    placeholder={placeholder}
  /><select
    data-css-value-unit
    name={`${name}:unit`}
    class="select select-bordered select-xs join-item"
  >
    <option selected>px</option>
    <option>%</option>
    <option>rem</option>
    <option>em</option>
  </select>
</div>
