---
import ThemeController from "./ThemeController.astro";
---

<header class="mx-auto max-w-3xl flex justify-between px-6 my-4">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost border-0 text-2xl">vyke</a>
  </div>
  <div>
    <ThemeController />
  </div>
</header>
